*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

button{
    border: none;
    cursor: pointer;
}

.block__title{
    font-size: 35px;
    color: white;
    margin-bottom: 70px;
}

span{
    color: chocolate;
}

/* header */

header{
    padding: 50px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    gap: 30px;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu>a{
    font-size: 25px;
    color: white;
}

.burger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    background: #ffffff; 
    height: 3px; 
    width: 25px;
    margin: 3px 0;
}

.menu {
    display: flex;
}

.close-menu {
    background: none;
    border: none;
    color: white;
    font-weight: 100;
    font-size: 33px;
    position: fixed;
    top: 60px;
    right: 0px;
    cursor: pointer;
    align-self: flex-end;
    display: none;
}

.menu>a:hover{
    color: chocolate;
}

/* end-header */


/* banner */

.banner{
    margin-bottom: 180px;
}

.banner__inner{
    height: 700px;
    background-image: url("../img/banner/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.banner__text{
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
    max-width: 1000px;
}

.btn{
    padding: 20px 15px;
    background-color: chocolate;
    border-radius: 100px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover{
    background-color: rgb(218, 59, 48);
}

/* end-banner */

/* about */

.about{
    margin-bottom: 180px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__text{
    font-size: 25px;
    color: white;
    max-width: 600px;
}

.about__inner>img{
    width: 600px;
}

/* end-about */


/* yslygi */

.yslygi{
    margin-bottom: 180px;
}

.yslygi__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card>img{
    width: 380px;
    height: 250px;
}

.accordion {
    position: relative;
    margin: 10px 0;
    border-radius: 5px;
}

.accordion-header {
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
    padding: 25px 10px 10px 10px;
    display: none; 
    border-top: 1px solid #ccc;
    width: 360px;
}

.accordion-content>p{
    color: white;
}

.accordion-header>span{
    color: white;
    font-size: 20px;
}

/* end-yslygi */

/*  <!-- portfolio --> */
.portfolio {
    margin-bottom: 150px;
}

/* slider */

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-cont_item {
    display: none;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-cont_item img {
    width: 900px;
}

.slider-cont_item.active {
    display: flex;
}

.btns {
    padding-top: 50px;
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* end-portfolio */

/* review */

.review_block {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 180px;
    margin-left: 450px;
}

.review {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 100%;
    margin-top: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 300px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    margin-right: 5px;
    background-color: #000000;
    color: white;
}

.tab.active {
    background-color: #fff;
    color: black;
    font-weight: bold;
}

.review.active {
    display: block;
}

/* review */

/* contact */

.contact__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__inner>img{
    width: 600px;
    border-radius: 10px;
}

.contact__form{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact__form>input{
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
}

.contact__form>input::placeholder{
    padding: 20px;
    font-size: 18px;
}

label{
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(245, 187, 117);
}

.social-text{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-text>p{
    font-size: 20px;
    color: rgb(240, 167, 98);
}

.social-text>a{
    font-size: 18px;
    color: white;
}

.btn-call{
    background-color: rgb(250, 38, 38);
    color: white;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 16px;
}

/* end-contact */


/* footer */

.footer{
    padding: 50px 0px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* end-footer */


@media (max-width: 800px) {

    .block__title{
        font-size: 30px;
    }

    header{
        padding: 40px 0;
    }

    .logo>img{
        width: 80px;
    }

    .logo{
        font-size: 25px;
    }

    .menu>a{
        font-size: 20px;
        color: white;
    }

    /* banner */

    .banner{
        margin-bottom: 100px;
    }
    
    .banner__inner{
        height: 400px;
        width: 100%;
    }
    
    .banner__text{
        margin-bottom: 30px;
        font-size: 23px;
        max-width: 500px;
    }
    
    .btn{
        font-size: 16px;
        padding: 10px 15px;
    }

    /* end-banner */

    /* about */

    .about{
        margin-bottom: 100px;
    }

    .about__text{
        font-size: 16px;
        color: white;
        max-width: 400px;
    }

    .about__inner>img{
        width: 300px;
    }

    /* end-about */

    /* yslygi */

    .yslygi{
        margin-bottom: 0px;
    }

    .yslygi__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    .card{
        margin-bottom: 100px;
    }

    .card>img{
        width: 360px;
        height: 230px;
    }

    .accordion {
        position: relative;
        margin: 10px 0;
        border-radius: 5px;
    }

    .accordion-header {
        padding: 20px 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .accordion-content {
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        display: none;
        z-index: 1;
        padding: 25px 10px 10px 10px;
        display: none; 
        border-top: 1px solid #ccc;
        width: 360px;
        font-size: 16px;
    }

    .accordion-content>p{
        color: white;
    }

    .accordion-header>span{
        color: white;
        font-size: 20px;
    }

    /* end-yslygi */

    /* contact */

    .contact__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact__inner>img{
        width: 350px;
        border-radius: 10px;
    }

    .contact__form{
        width: 350px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .contact__form>input{
        height: 40px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .contact__form>input::placeholder{
        padding: 20px;
        font-size: 18px;
    }

    label{
        margin-bottom: 5px;
        font-size: 16px;
        color: rgb(245, 187, 117);
    }

    .social-text{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .social-text>p{
        font-size: 16px;
    }

    .social-text>a{
        font-size: 18px;
        color: white;
    }

    .btn-call{
        background-color: rgb(250, 38, 38);
        color: white;
        width: 180px;
        height: 40px;
        border-radius: 50px;
        font-size: 16px;
    }

    /* end-contact */

    /*  <!-- portfolio --> */
    .portfolio {
        margin-bottom: 100px;
    }

    /* slider */


    .slider-cont_item img {
        width: 700px;
    }

    /* end-portfolio */

    /* review */

    .review_block {
        margin-left: 150px;
        margin-bottom: 100px;
    }

    /* review */

    /* footer */

    .footer{
        padding: 40px 0px;
        font-size: 16px;
    }

    /* end-footer */

}


@media (max-width: 400px) {

    /* header */

    header{
        padding: 30px 0;
    }

    .close-menu{
        display: block;
    }

    .logo>img{
        width: 70px;
    }

    .logo{
        font-size: 25px;
    }

    .menu {
        display: none; 
        flex-direction: column;
        position: fixed;
        top: 0px; 
        left: 0;
        background-color: rgb(48, 129, 236); 
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .menu.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .menu{
        padding: 100px;
    }

    .menu>a{
        margin: 0 auto;
        padding-top: 10px;
        font-size: 30px;
    }

    /* end-header */

    /* banner */

    .banner__inner{
        height: 350px;
    }

    .banner{
        margin-bottom: 70px;
    }
    
    .banner__text{
        margin-bottom: 20px;
        font-size: 20px;
        max-width: 500px;
    }
    
    .btn{
        font-size: 16px;
        padding: 10px 15px;
    }

    /* end-banner */

    /* about */

    .about{
        margin-bottom: 70px;
    }

    .about__inner{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .about__inner>img{
        width: 100%;
    }

    /* end-about */

    /* yslygi */

    .yslygi{
        margin-bottom: 120px;
    }
    
    .yslygi__inner{
        flex-direction: column;
        gap: 100px;
    }
    
    .card>img{
        width: 350px;
        height: 230px;
    }
    
    .accordion {
        margin: 5px 0;
    }
    
    .accordion-header {
        padding: 10px 5px;
    }
    
    .accordion-content {
        padding: 15px 5px 5px 5px;
    }

    .accordion-content>p{
        font-size: 15px;
    }
    
    .accordion-header>span{
        font-size: 16px;
    }

    .card{
        margin-bottom: 0px;
    }
    
    /* end-yslygi */

    /*  <!-- portfolio --> */

    .portfolio {
        margin-bottom: 70px;
    }

    /* slider */

    .slider-cont_item img {
        width: 350px;
    }

    .btns {
        padding-top: 40px;
        width: 320px;
    }

    .slider-btn {
        width: 150px;
    }

    /* end-portfolio */

    /* contact */

    .contact__inner{
        flex-direction: column-reverse;
        gap: 40px;
    }
    
    .contact__inner>img{
        width: 380px;
        border-radius: 5px;
    }
    
    .contact__form{
        width: 350px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .contact__form>input{
        height: 50px;
        margin-bottom: 30px;
    }
    
    .contact__form>input::placeholder{
        padding: 20px;
        font-size: 16px;
    }
    
    label{
        margin-bottom: 5px;
        font-size: 16px;
    }
    
    .btn-call{
        width: 200px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .social-text{
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    
    .social-text>p{
        font-size: 16px;
    }
    
    .social-text>a{
        font-size: 14px;
    }
    
    /* end-contact */

    /* review */

    .review_block {
        margin-bottom: 70px;
        margin-left: 0px;
        width: 380px;
    }

    /* review */

    /* footer */

    .footer{
        padding: 30px 0px;
        font-size: 16px;
    }

    /* end-footer */
}
